{% extends "base.html" %}

{% block content %}
    {% if not "\x3ch1" in page.content %}
        <h1>{{ page.title | d(config.site_name, true)}}</h1>
    {% endif %}
    {% if page.meta.citations %}
        {{ page.meta.citations }}
    {% endif %}
    {% if page.meta.bibliography %}
        {{ page.meta.bibstart }}
        {% for bib in page.meta.bibliography %}
            {{ bib }}
        {% endfor %}
        {{ page.meta.bibend }}
    {% endif %}
    {{ page.content }}
    {% if page.meta and (page.meta.git_revision_date_localized or page.meta.revision_date) %}
        {% include "partials/source-file.html" %}
    {% endif %}
{% endblock %}